/* Same for all the section */
*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 8px;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
  color: #ffffff;
  background-color: #060d17;
}
/* Header section*/
header{
  height: 105px;
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
  background-color: #060d17;
  align-items: center;
}
.Header_Container img{
  height: 19.71px;
  width: 131px;
}
.col-3{
  font-size: 20px;
}
.navBar_Containe{
  display: flex;
  justify-content: space-evenly;
}
.navBar{
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  font-size: 20px;
}
.searchContainer{
  display: flex;
  border-radius: 12px;
}
.search{
  height: 50px;
  width: 800px;
  background-color: #10161d;
  border:none;
  outline: none;
  font-size: 23px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.icon{
  display: flex;
  align-items: center;
  height: 52px;
  width: 50px;
  background-color: #10161d;
  margin-top: 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.iconSearrch{
  margin-left: 15px;
}
.signIn_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.signIn{
  background-color: #1c252f;
  height: 50px;
  width: 90px;
  border:  none;
  margin-right: 18px;
  border-radius: 12px;
}

/* Main section  */
.baseContainer{
  margin-left: 49px;
  margin-right: 49px;
  font-size: 20px;
}
.text{
  text-decoration: none;
  color: #78a6b8;
}
.webiconContainer{
  margin-top: 30px;
  margin-bottom: 20px;
}
.webIcons{
  display: flex;
  gap: 1px;
  overflow-x: auto; /* scroll horizontally */
  width: 100%;
}
.webIcons::-webkit-scrollbar {
  display: none;
}
.card {
  min-width: 120px; /* keeps cards in a row */
}
.mainheaderContainer{
  display: flex;
  margin-bottom: 12px;
}
.typesContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Type{
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 900;
  color: #727f92;
}
.Type:hover{
  color: #ffffff;
}
.moviesCategories{
  display: flex;
  align-items: center;
}
.typecategories{
  display: flex;
  text-decoration: none;
  color: #9196a3;
  margin-right: 25px;
}
.iconCategories{
  margin-top: 4px;
}
.xreset{
  align-items: end;
  border: none;
  outline: none;
  margin-left: 500px;
  font-size: inherit;
  color: inherit;
  height: 50px;
}
.xreset:hover{
  background-color: #0f1621;
}
.pop{
  display: flex;
  color: #727f92
}
.iconpop{
  margin-top: 5px;
}
.banner{
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  gap: 1px;
  margin-top: 40px;
  width: 100%;
}
.banner::-webkit-scrollbar{
  display: none;
}
.bannerCard{
  min-width: 180px;
  
}
.movieposter{
   position: relative;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 166 / 236;
    transition: opacity .1s ease;
    justify-content: space-evenly;
    border-radius: 5px;
}
.poster{
  margin-right: 8px;
  height: 430px;
  width: 350px;
  margin-top: 15px;
}
.moviepostercontainer{
  margin-top: 25px;
}
/* Footer section */
.Footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 200px;
  margin-bottom: 1000px;
}
.reels{
  font-size: 80px;
}
.footertext{
  font-size: 20px;
}
.footerbutton{
  color: yellow;
  border-color: yellow;
  font-size: 20px;
  margin-top: 15px;
  height: 50px;
  width: 150px;
  border-radius: 12px;
}
.footerbutton:hover{
  background-color: rgb(63, 63, 48);
}